mixin sWatchSports(i, b)
	// start sWatchSports
	+b.sWatchSports.bg-wrap.section#sWatchSports&attributes(attributes)
		picture.picture-bg
			source(type='image/webp' srcset='img/@2x/webp/watch-bg-lg.webp' media='(min-width:992px)')
			source(type='image/webp' srcset='img/@2x/webp/watch-bg-sm.webp')
			source(type='image/jpg' srcset='img/@2x/watch-bg-lg.png' media='(min-width:992px)')
			source(type='image/jpg' srcset='img/@2x/watch-bg-sm.png')
			img.object-fit-js(src='img/@2x/watch-bg-lg.png' alt='' loading='lazy')
		+e.logo
			img(src="img/svg/logo.svg", alt="")
		+e.main
			img(src=`img/svg/sWatchSports-${i}.svg`, alt="")
			block
		+e.btn(href="https://refpa.top/L?tag=d_514359m_97c_watch_stream&site=514359&ad=97&r=registration/")
			span!= b
	// end sWatchSports