extends layout/main.pug


include ../blocks/sWatchSports/_sWatchSports.pug
//- include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Watch sports online'
	title= title
block pagecontent
	+sWatchSports(`eng`, `registration`)
		+e.advantages
				mixin item(i, t)
						+e.item
							+e.img-wrap
								img(src=`img/@2x/advantage-${i}.png`, alt="")
							.text-white!= t
				+item(1, `Absolutely <br> free`)
				+item(2, `Live <br> broadcasts`)
				+item(3, `Quick <br> signup`)



