extends layout/main.pug


include ../blocks/sWatchSports/_sWatchSports.pug
//- include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent
	+sWatchSports()



