extends layout/main.pug


include ../blocks/sWatchSports/_sWatchSports.pug
//- include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= '1xBet - Смотри спорт онлайн'
	title= title
block pagecontent
	+sWatchSports(`ru`, `Регистрация`)
		img(src="img/svg/sWatchSports.svg", alt="")
		+e.advantages
				mixin item(i, t)
						+e.item
							+e.img-wrap
								img(src=`img/@2x/advantage-${i}.png`, alt="")
							.text-white!= t
				+item(1, `Абсолютно <br> бесплатно`)
				+item(2, `Прямой <br> эфир`)
				+item(3, `Простая <br> регистрация`)



