extends layout/main.pug


include ../blocks/sWatchSports22/_sWatchSports22.pug
//- include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	-
		let  title= '22bet - watch sports online'
		let content = {
			language: "eng",
			btnText: 'registration',
			items: [
				"live <br> broadcasts",
				"Free match <br> broadcasts",
				"Easy <br> registration"
				]
		}
	title= title
block pagecontent
	+sWatchSports22Alt(content.language, content.btnText)
		+e.advantages
				each item, index in content.items
						+e.item
							+e.img-wrap
								img(src=`img/svg/advantage22alt-${index}.svg`, alt="")
							.text-white!= item


